<div id="new_task_created" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative hidden" role="alert">
  <strong class="font-bold">Success!</strong>
  <span class="block sm:inline">New task is created successfully.</span>
</div>