<div id="status_bar" class="w-full flex flex-wrap my-4">
  <div class="h-4 bg-green-200 rounded" id="completed_task_count_bar" style="width:<%= completed_width_percent %>%"></div>
  <div class="h-4 bg-gray-100 rounded" id="remaining_task_count_bar" style="width:<%= remaining_width_percent %>%"></div>
</div>